*{
    margin: 0%;
    padding: 0%;
}
.menu{
    height: 80%;
    width: 80%;
    justify-content: center;
    display: flex;
}

body{
    text-align: center;
    justify-content: center;
    background-color: #fff;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   line-height: 1.3;
    display: flex;
    padding: 2rem;
}
.author{
    font-size: small;
    text-align: center;
    font-style: italic;
    justify-content: left;
    color: aquamarine;

}